SERVER_PORT=7000
SERVER_SECRET=AAc990ddccc

GITHUB_CLIENT_ID=c905v893d1d3ae4 
GITHUB_CLIENT_SECRET=0227b6feeacv9999990398e9383b169e74a7
GITHUB_REDIRECT_URL=http://localhost:7000/api/auth/callback/github
GITHUB_SIGNUP_STATE=AD8989093CC898 
GITHUB_SIGNIN_STATE=SDF990309C*084
